<table>
  <tr>
    <th>Order</th>
    <th>Processed</th>
  </tr>
<% @orders.each do |order| %>
  <tr>
    <td><a href="/admin/order/<%= order.id %>">Order <%= order.id %></a></td>
    <td><%= order.processed %></td>
  </tr>
<% end %>
</table>