<% if @order.paid %>
  Order already paid! Expect an email receipt when your order gets processed.
<% else %>
  <% if @error %>
    <p><%= @error %>, please try again.</p>
  <% end %>
    
  <form action="/order/<%= @order.id %>/paid" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= ENV["STRIPE_SECRET"] %>"
      data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-name="InstaInked Tattoos"
      data-description="12 Instant Tattoos ($10.00)"
      data-amount="1000"
      data-billingAddress="true"
      data-shippingAddress="true">
    </script>
  </form>
<% end %>