<h2><%= @user.username %>'s photos</h2>

<div class="wrap" id="gallery">
</div>

<script src="/js/gallery.js"></script>
<script src="/js/photo.js"></script>
<script src="/js/gallery_app.js"></script>
<link rel="stylesheet" href="/css/gallery.css">