<h2><%= @user.username %>'s photos</h2>

<div class="wrap" id="gallery">
</div>
<img class="center" style="display:block" src="/img/spinner-small.gif">

<script src="/js/gallery.js"></script>
<link rel="stylesheet" href="/css/gallery.css">